p {
	color: blue;
	font-size: 24pt;
}

p#gruby_Rudnik {
	color: green;
	font-size: 17pt;
	font-weight: bold;
}

#dlawszystkich_Rudnik {
	color: yellow;
	font-size: 10pt;
	font-family: Arial;